body {
    margin: 0;
    padding: 0;
    background: #e2d349; 
    font-family: Arial, sans-serif;
}

h1, p {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: #dfeedf;
    border-radius: 20px;
}

.form-label {
    color: white;
}

.form-control {
    background: #dbe7db;
    color: rgb(8, 0, 0);
    border: 1px solid white;
}

.list-group-item.active {
    background-color: #ffc107;
    color: black;
}
